.sign-width{
    width: 30%;
    margin: auto;
}

.break hr{
width: 40%;
}

.px20{
   font-size: 20px; 
}

.break{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.theme-color-dark{
    color: rgba(112, 85, 34, 0.925);

}

.reg-button{
    font-weight: bold;
    color: rgb(138, 135, 135);
    background-color: transparent;
    border: .5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: .25s all linear;
}

.reg-button span{
    display: block;
    width: calc(100% - 20px);
}

.reg-button:hover{
   box-shadow: none;
   outline: none;
   
}