*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    font-family: GT Walsheim Pro;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: .5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.fs-26{
    font-size: 26px;
}

::selection {
    color: #fff;
    background-color: rgba(255, 176, 29, 0.925);
  }

  .theme-color-dark{
    color: rgba(112, 85, 34, 0.925);

}

.theme-color{
   color: rgba(255, 176, 29, 0.925);
}
.theme-bgcolor{
    background-color: rgba(255, 176, 29, 0.925);
}

.dot-size{
    font-size: 70px;
}

.weight-light {
    font-weight: 100 !important;
}

.bgcolor-black{
  background-color: #000;
}

.text-dark-white{
  color: rgb(128, 128, 128);
}

.bg-video {
    position: absolute;
    left: 0;
    top: 0;
   width: 100%;
   height: 100%;
    overflow: hidden;
    z-index: -9999;
  }

  .bg-overlay{
      position: relative;
      width: 100%;
      height: 95%;
      background-color: rgba(0, 0, 0,.3);
  }

  .masterheader{
      height: 70%;
  }

  .headtext{
      font-size: 44px;
      font-family: 'Playfair Display', serif;
  }

  .signin-model-01{
    transform: translate(-15%, 30%);
    width: 700px;
  }

  .signup-model-01{
    transform: translate(-15%, 15%);
    width: 700px;
  }

  .signin-model{
      display: flex;
      width: 100%;
  }

  .in-left{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
      min-height: 100%;
      background-color: rgb(13, 79, 146);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
  }

  .in-left-inner{
      width: 85%;
  }

  .convert-line{
      width: 30%;
      height: 7px;
      border-radius: 10px;
  }

  .in-right{
    width: 60%;
    height: 100%;
}

.reg-button{
    font-weight: bold;
    color: rgb(138, 135, 135);
    background-color: transparent;
    border: .5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: .25s all linear;
}

.reg-button span{
    display: block;
    width: calc(100% - 20px);
}

.reg-button:hover{
   box-shadow: none;
   outline: none;
   
}


  .projectHead{
    font-weight: 600;
    font-size: 54px;
  }


  .projects-section {
    font-family: 'Nunito', sans-serif;
    padding: 10rem 0;
  }
  .projects-section .featured-text {
    padding: 2rem;
  }
  @media (min-width: 992px) {
    .projects-section .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #64a19d;
    }
  }
  .projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
  }
  @media (min-width: 992px) {
    .projects-section .project-text {
      padding: 5rem;
    }
    .projects-section .project-text hr {
      border-color: #64a19d;
      border-width: 0.25rem;
      width: 30%;
    }
  }





.contact-section {
    padding-top: 5rem;
    background-color: black;
  }
  .contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #64a19d;
  }
  .contact-section .card h4 {
    font-size: 0.8rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  .contact-section .card hr {
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 5rem;
    margin: auto;
  }
  .contact-section .social {
    margin-top: 5rem;
  }
  .contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
  }
  .contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  .contact-section .social a:active {
    color: #fff;
  }
  
  .footer {
    padding: 5rem 0;
    background-color: black;
    color: rgb(134, 132, 132);
  }