<link rel="stylesheet" href="./css/profile.css">
<div class="container profile-container">

<div class="panel panel-default">
  <div class="card">
    <div class="card-body">
      <div class="e-profile">
        <div class="row">
          <div class="col-12 col-sm-auto mb-3">
            <div class="mx-auto" style="width: 140px;">
              <div class="d-flex justify-content-center align-items-center rounded"
                style="height: 140px; background-color: rgb(233, 236, 239);">
                <img height="140" style="border-radius: 5px;" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
              </div>
            </div>
          </div>
          <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
            <div class="text-center text-sm-left mb-2 mb-sm-0">
              <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">John Smith</h4>
              <p class="mb-0">@johnny.s</p>
              <br>
              <div class="mt-2">
                <button class="btn btn-primary" type="button">
                  Edit Profile
                </button>
              </div>
            </div>
            <div class="text-center text-sm-right">
              <span class="badge badge-secondary">administrator</span>
              <div class="text-muted"><small>Joined 09 Dec 2017</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <form class="mt-4" action="/post" method="POST">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">How is your exprience ?</label>
        <textarea class="form-control" name="post" id="exampleFormControlTextarea1" rows="3"
            placeholder="Write your thought here..."></textarea>
    </div>
    <input type="submit" class="btn btn-primary" value="Post It">
</form>
<hr>
<div class="container prevPost mt-4">
  <h4>Your Previous Posts</h4>
  <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facilis atque exercitationem
      magni?</small>
  <div id="posts" class="posts mt-4">
      <div class="post">
          <div class="postTop">
              <div class="usrPrfl">
                  <img class="prflpic" src="" alt="">
              </div>
              <div class="postDetails">
                  <h6>John Doe</h6>
                  <small>Los Angles</small>
              </div>
          </div>
          <p>Post Text Here...</p>
          <small>
              <%= post.likes.length %> Likes,
              <%= post.dislikes.length %> dislikes,
              <%= post.loves.length %> Love Reactions</small>
          <div class="options">
              <span id="love" title="Love" class="icon">
                  <a href=""><i class="fa fa-heart"></i></a>
              </span>
              <span id="like" title="Like" class="icon">
                  <a href=""><i class="fa fa-thumbs-up"></i></a>
              </span>
              <span id="dislike" title="Dislike" class="icon">
                  <a href=""><i class="fa fa-thumbs-down"></i></a>
              </span>
          </div>
      </div>
      <p class="text-center"><small>No More Posts Left</small></p>
  </div>
</div>
</div>