<link rel="stylesheet" href="css/timeline.css">
  
<div class="container timeline-container pt-5 mt-4">
    <h2 class="display-5">Hello, John Doe 👋</h2>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, consequuntur quod nihil, quam
        obcaecati iure similique atque eius et impedit nam eveniet est.</p>
    <a href="/profile" class="btn btn-primary">I Want To Write A Post</a>
    <hr>
    <h4 class="lead">Latest Posts</h4>
    <div class="posts mt-3">
        
        <div class="post">
            <div class="postTop">
                <div class="usrPrfl">
                    <img class="prflpic"
                        src=""
                        alt="">
                </div>
                <div class="postDetails">
                    <a href=""><h6>JohnDoe</h6></a>
                    <small>Los Angles</small>
                </div>
            </div>
            <p>post text...</p>
            <small><%= post.likes.length %> Likes, <%= post.dislikes.length %> dislikes, & <%= post.loves.length %> Love Reactions</small>
            <div class="options">
                <span id="love" title="Love" class="icon">
                    <a href=""><i class="fa fa-heart"></i></a>
                </span>
                <span id="like" title="Like" class="icon">
                    <a href=""><i class="fa fa-thumbs-up"></i></a>
                </span>
                <span id="dislike" title="Dislike" class="icon">
                    <a href=""><i class="fa fa-thumbs-down"></i></a>
                </span>
            </div>
        </div>
    </div>
</div>